 *{
    margin-top: 1.2%;
    padding: 0;
    box-sizing: border-box;
 }

 .game-board{
    width: 90%;
    height: 800px;
    border: 1px solid #333;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    
 }

 .floor-block{
    background-image: url('../images/FloorBlock.png');
    background-repeat: repeat-x; /* Repete apenas horizontalmente */
    width: 100%; /* Define a largura como 6% da largura da tela */
    height: 19%; /* Define a altura como 12% da altura da tela */
    position: absolute; /* Mantém a imagem fixa na tela */
    bottom: 0; /* Coloca a imagem no topo da tela */
    left: 0; /* Coloca a imagem no canto esquerdo da tela */
    margin: 0%;
    padding: 0%;
    
    
 }