
 .game-board{
      width: 100%;
    height: 800px;
      margin: 0 ;
    overflow: hidden;
      background:-moz-linear-gradient(#87CEEB, #E0F6FF);
   }

   .mystery-block-myDegrees{
      position: absolute;
      width: 7%;
      height: 7%;
      bottom: 54%;
      left: 36%;
   }
    
   .mystery-block-aboutMe{
      position: absolute;
      width: 7%;
      height: 7%;
      bottom: 54%;
      left: 43%;
   }
   
   .mystery-block-myHobbies{
      position: absolute;
      width: 7%;
      height: 7%;
      bottom: 54%;
      left: 50%;
 }

 .floor-block{
    background-image: url('../images/FloorBlock.png');
      background-repeat: repeat-x, repeat-y; 
      width: 100%; 
      height: 14%; 
      position: fixed;
      bottom: 0; 
      left: 0; 
    margin: 0%;
    padding: 0%;
   }

   .mario{
      position: absolute;
      bottom: 14%;
      left:0%;
      height: 22%;
   }
    
    
 }